<div class="start_wrapper">
	<h1>БЫТЬ МУНАШЕЙ</h1>
	<h2>ГЛУБОКО ФИЛОСОФСКАЯ ИГРА О СЛОЖНОСТИ ВЫБОРА, ЭКЗИСТЕНЦИАЛЬНОСТИ БЫТИЯ И ПРИЧИННО-СЛЕДСТВЕННЫХ СВЯЗЯХ.</h2>
	<h3>НАЖМИ  "НАЧАТЬ" И ПОЧУВСТВУЙ НОТКИ ТЛЕНА В СВОЕМ СЕРДЦЕ</h3>
	<div id="new_game_form">
		<%= form_tag login_url, method: :post do %>
			<%= submit_tag "НАЧАТЬ" %>
		<% end %>
	</div>
	<a href="#" onclick="$('div#new_game_form > form').submit();" class="begin_link">НАЧАТЬ</a>
</div>
<h4 id="title_tip">* для прокрутки сообщений нажимай пробел или кликай по гайду</h4>

<div style="display:none;">
	<%= image_tag 'guide_nastya_2.png' %>
	<%= image_tag 'guide_nastya_1.png' %>
	<%= image_tag 'guide_nick_1.png' %>
	<%= image_tag 'guide_nick_2.png' %>
	<%= image_tag 'guide_slava_1.png' %>
	<%= image_tag 'guide_slava_2.png' %>
	<%= image_tag 'empty_guide.png' %>
</div>