        <%= link_to 'Статистика', '#', class: 'show_statistics' %>
        <div class="statistics">
        	<h1 id="stat_header">СТАТИСТИКА</h1>
        	<h4>Количество посещений:</h4>
        	<p>Дом: <%= session[:house] %><p>
        	<p>Работа: <%= session[:work] %><p>
        	<p>Harat's: <%= session[:harats] %><p>
        	<div class="badge_shell">
        		<div class="badge_end badge_end_1"> 
        			<% if @wins.length >= 1 %>
        				<%= image_tag 'stat_badge_item.png' %> 
        			<% end %>
        		</div>
        		<div class="badge_end badge_end_2"> 
        			<% if @wins.length >= 2 %>
        				<%= image_tag 'stat_badge_item.png' %> 
        			<% end %>
        		</div>
        		<div class="badge_end badge_end_3"> 
        			<% if @wins.length >= 3 %>
        				<%= image_tag 'stat_badge_item.png' %> 
        			<% end %>
        		</div>
        		<div class="badge_end badge_end_4"> 
        			<% if @wins.length >= 4 %>
        				<%= image_tag 'stat_badge_item.png' %> 
        			<% end %>
        		</div>
        		<div class="badge_end badge_end_5"> 
        			<% if @wins.length >= 5 %>
        				<%= image_tag 'stat_badge_item.png' %> 
        			<% end %>
        		</div>
        	</div>
        </div>
        <div class="wrap">
                <div class="container">
                        <%= image_tag @image %>
                </div>

                <div class="controls">
                	<span><%= @time %></span>
                    <% if session[:way] != [] %>

                        <% @button.each do |b| %>
                            <%= form_tag game_url, method: :post do %>
                                    <%= hidden_field_tag(:step, b[:id]) %>
                                    <%= submit_tag b[:title] %>
                            <% end %>
                     	<% end %>
                     <% end %>

                    <% if session[:way].last == "2" && @guide[0][:guide] != 'guide_slava_1.png' && @guide[0][:guide] != 'guide_slava_2.png'%>
						<%= button_tag 'Пошатать Иванову', id: 'shake_Nastya', disabled: true %>
					<% end %>
	
                </div>
       </div>
<div class="footer">
	
	                <p style="display:none" id="pageTextSource">
	                        <%= @guide[0][:text] %>
	                </p>
	
	                <div class="text_output" id="text_output">

	                        <p id="pageText">
	                        </p>
	                </div>
	
	                <div class="guide"><%= image_tag @guide[0][:guide] %></div>
</div>

<div class="badge">
	<%= image_tag 'badge.png' if @badge %>
</div>

<script>

	var allData = <%= raw @guide.to_json %>;
	var initialText = allData[0].text;
	var closing = false;
	var textLine = 0;
	var objDiv = document.getElementById("text_output");
	var allowNext = 1;
	
	// Первоначальная блокировка кнопок и вывод первой строки текста
	$(function() {
		$('input[type="submit"]').attr('disabled','disabled');
		allowNext = 0;
	  	mainTextOutput(0);
	});


	$(document).keydown(function(e){
	    if (e.keyCode == 32) { 
	       $('div.guide img').click();
	       return false;
	    }
	});	
	
	//var initialText = <%= raw @guide[0][:text].to_json %>;
	//var closingText = <%= raw @guide.to_json %>;



// функция вывода текста
function mainTextOutput(choice){
	var text = allData[choice].text

		if ( text[textLine] )
			{
				show_text(text);
			}

		if (closing == true && choice > 0 && text[textLine+1] == undefined && (allData[1].closing_event != "Остаться в Harat’s" || (choice == 3 && allData[1].closing_event == "Остаться в Harat’s") ) )
			{
				$('div.guide img').unbind('click');
				$('input[type="submit"]').unbind('click');
			
				$('div.guide img').click(
						function(){
							$('input[type="hidden"]').each(
								function(){
									if ($(this).val() ==choice) $(this).siblings('input[type="submit"]').removeAttr('disabled').click().attr('disabled','disabled');
								});
						}
					)
			}
		else
			{
				if ( text[textLine+1] == undefined )
					{	
						$('div.guide img').unbind('click');
						$('input[type="submit"]').removeAttr('disabled');
						$('button').removeAttr('disabled');
						closing = true;

							if ( allData[0].closing_event == 'new_game_url' ) { 
										//$('div.badge').show();
										$('div.guide img').click(
											function(){
												if (allowNext==1)
													{
														allowNext=0;
														self.location='new_game';
													}
												
											}
										)
							 }
					}
			}	


//специально для "house - work - harats - house - sleep" концовки
			if ( text[textLine+1] == undefined && choice == 1 && allData[1].closing_event == 'new_game_url' )
					{	
						$('div.guide img').unbind('click');
						$('input[type="submit"]').attr('disabled','disabled');
						closing = true;
						//$('div.badge').show();
						$('div.guide img').click(
							function(){
								if (allowNext==1)
									{
										allowNext=0;
										self.location='new_game';
									}
							}
						)
					}


//специально для кнопок остаться в харатс
			if ( text[textLine+1] == undefined && choice != 0 && choice !=3 &&  ( allData[1].closing_event == "Остаться в Harat’s" || allData[2].closing_event == "Остаться в Harat’s" ) )
					{	
						$('input[type="hidden"]').each(
								function(){
									if ($(this).val() == choice) 
										$(this).siblings('input[type="submit"]').remove();
										// $(this).siblings('input[type="submit"]').click( function() {haratsButton.click(); return false;} );
								});

							$('div.guide img').unbind('click');
							$('input[type="submit"]').removeAttr('disabled');
					}

	textLine++;
}

// установка события клика на гайда
function setClickEvent(){
$('div.guide img').click(
	function(){
			if (allowNext==1)
				{
					allowNext=0;
					mainTextOutput(0);
				}
		})
};
setClickEvent();



// то, что происходит после сабмита
$('input[type="submit"]').click(
	function(){
		
		var choice = $(this).siblings('input[type="hidden"]').val();

		dest.innerHTML += '<Br/>';
		dest.innerHTML += '==============';
		dest.innerHTML += '<Br/>';

		textLine = 0;
		allowNext = 0;
		mainTextOutput(choice);

		console.log(choice);

		$('div.guide img').attr('src','/assets/' + allData[choice].guide);
		
		$('div.guide img').click(
					function(){
							if (allowNext==1)
								{
									allowNext=0;
									mainTextOutput(choice);
								}
						}
					);

		$('input[type="submit"]').attr('disabled','disabled');
		$('button').attr('disabled','disabled');

		return false;

	}
	)


// вывод текста по буковкам
 var source,dest,len,now=0,delay=20,letters=1;

function show_text(text)
{
	source = text[textLine];
	now=0;
    //source = document.getElementById("pageTextSource");
    dest = document.getElementById("pageText");
    dest.innerHTML += '<Br/>';
    //dest.innerHTML = '';
    //len = source.innerHTML.length;
    len = source.length;
    show();
    //$('div.text_output').scrollTop = $('html').height();
}

function show()
{
    // if ( source.innerHTML.substr(now,letters) == '-') { dest.innerHTML += '<Br/>' }
    //dest.innerHTML += source.innerHTML.substr(now,letters);
    dest.innerHTML += source.substr(now,letters);
    now+=letters;
    if( now < len ){setTimeout("show()",delay);}
	if ( now == len ) { allowNext = 1; }
	objDiv.scrollTop = objDiv.scrollHeight;
}



 // Трсяка Ивановой
var shakeCount = 0, shakeText = '';
$('button#shake_Nastya').click(
		function(){

			textContainer = $('p#pageTextSource');
			textLine = 0;
				
			switch (shakeCount)
			{
				case 0:
					$('div.guide').html('<%= image_tag "guide_nastya_1.png" %>');
					
					dest.innerHTML += '<Br/>';
					dest.innerHTML += '==============';
					dest.innerHTML += '<Br/>';

					shakeText = ['- Ну, Миша, ну, перестань! Я работаю!'];
				break;
				
				case 1:
					shakeText = ['- Мунаев, прекрати! Это непотребство!'];
				break;

				case 2:
					shakeText = ['- Миша, я Никите пожалуюсь! - Никита, чего он мне мешает! Скажи ему!']
				break;

				case 3:
					$('div.guide').html('<%= image_tag "guide_nick_2.png" %>');
					shakeText = ['- Продолжай, друг.'];
				break;

				case 4:
					$('div.guide').html('<%= image_tag "guide_nastya_2.png" %>');
					shakeText = ['=_='];
				break;

				default:
					shakeText = [' - Хватит...'];
			}
				
			if (allowNext==1)
				{
					allowNext=0;
					textContainer.html(shakeText);
					show_text(shakeText);
				}
		shakeCount = shakeCount + 1;

		}
	)


// Показ статистики
$('a.show_statistics').click(
		function(){
			$('div.statistics').slideToggle();
		}
	)
</script>