        <%= link_to 'Статистика', '#', class: 'show_statistics' %>
        <div class="statistics">
        	<h4>Колличество посещений:</h4>
        	<p>Дом: <%= session[:house] %><p>
        	<p>Работа: <%= session[:work] %><p>
        	<p>Harat's: <%= session[:harats] %><p>
        </div>
        <div class="wrap">
                <div class="container">
                        <%= image_tag @image %>
                </div>

                <div class="controls">
                    <% if session[:way] != [] %>

                        <% @button.each do |b| %>
                            <%= form_tag game_url, method: :post do %>
                                    <%= hidden_field_tag(:step, b[:id]) %>
                                    <%= submit_tag b[:title] %>
                            <% end %>
                     	<% end %>
                     <% end %>
	
                </div>
       </div>

<div class="footer">
	
	                <p style="display:none" id="pageTextSource">
	                        <%= @guide[0][:text] %>
	                </p>
	
	                <div class="text_output">

	                        <p id="pageText">
	                        </p>
	                </div>
	
	                <div class="guide"><%= image_tag @guide[0][:guide] %></div>
</div>